.hidden {
  display: none !important;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 741px) {
  .container {
    max-width: 100%;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-full {
    max-width: 741px;
  }

  .column-half {
    width: 50%;
  }
  
  .title-photo-container,
  .title-paragraph-entries-wrapper {
    margin-left: 30px;
    width: 50%;
  }

  .image-wrapper,
  .image-entries {
    width: 50%;
  }

  .btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .li-entry-wrapper {
    display: flex;
  }

  .new-entry-wrapper {
    display: flex;
  }
}
